// Primary Colors
$deep-blue: #002D62 !default;
$royal-blue: #0057B7 !default;
$teal: #008080 !default;

// Secondary Colors
$gold: #FFD700 !default;
$emerald-green: #028A0F !default;
$silver-gray: #C0C0C0 !default;

// Background & Neutral
$white: #FFFFFF !default;
$light-gray: #F4F4F4 !default;

// Status Colors
$soft-red: #D9534F !default;
