@use "../../styles/variables" as *;

.hero-section {
  // position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;
  overflow: hidden;
  background-image: url('../../Images/pexels-rostislav-5011647.jpg');
  background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;  
  // background-color: $deep-blue;

  // Background Particles
  // .particles-bg {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  // }

  // Hero Content
  .hero-content {
    position: relative;
    z-index: 2;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: $white;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      color: $white;
    }

    .cta-buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;

      .get-started {
        background: $gold;
        color: $deep-blue;
        padding: 0.8rem 1.8rem;
        font-size: 1.1rem;
        font-weight: bold;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          transform: scale(1.05);
          // background: lighten($gold, 15%);
        }
      }

      .go-to-app {
        background: $royal-blue;
        color: $white;
        padding: 0.8rem 1.8rem;
        font-size: 1.1rem;
        font-weight: bold;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          transform: scale(1.05);
          // background: lighten($royal-blue, 10%);
        }
      }
    }
  }
}
